<configuration debug="false" >
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
	<!--
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>debug.log</file>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
	</appender>
-->
<!--
	<logger name="metlx.proxy.debugLogger" level="all">
		<appender-ref ref="FILE"/>
	</logger>
-->
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>

