.main-board {
    flex-grow:1;
}
#board {
    width:100%;
    background-color:@board-bg;
}
#backstageContainer{
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color:@block-bg;
    .plr;
    .ptb;
}
#slideContainer {
    max-width: @slide-container-width;
}
.slideButtonContainer {
    width:100%;
}
.slide-count {
    text-align:right;
    .font-weight-light;
    color:@subtle;
}
.thumbnail {
    width:100%;
}
.inactiveMode {
    display:none;
}
#ribbon .button-toggle {
    margin-left:2px;
}
.tools {
    button {
        margin:2px;
        .btn-active;
    }
    .activeMode button {
        .btn-subtool;
        &.activeBrush {
            .btn-subtool.active;
        }
    }
    .activeTool {
        display:flex;
        .btn-active.active;
    }
}
.bg-tools {
    background-color:@body-bg;
}
.pen .icon-txt {
    color:@subtool-fg;
}
.permission-states {
    input[type="checkbox"], input[type="radio"]{
        & + label {
            padding: 0.5em 2px;
            max-width: (@toolbar-btn-width * 2) + 4;
            margin:2px;
            background-color: @toggle-bg;
            color: @toggle-fg;
        }
    }
    input[type="checkbox"]:checked +label, input[type="radio"]:checked +label {
        background:@toggle-active-bg;
        color:@toggle-active-fg;
        &:before {
            content:"\f00c";
        }
    }
}
#s2cMessageContainer {
    .block;
    position: absolute;
    top: 20%;
    left: 12%;
    width: 75%;
    border: 1px solid @block-borders;
    display:none;
}
#thumbScrollContainer {
    height: calc(~"100vh - 120px");
    overflow-y: auto;
}
#shareContainer {
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 10;
    display:none;
}
.searchResultItem {
    justify-content:space-between;
}
input[type=submit]{
    .button-transparent-border;
}
#boardContainer{
    position:relative;
}
#marquee,#zoomMarquee,#selectMarquee{
    display:none;
}
#marquee,.selectionAdorner,.resizeHandle,#zoomMarquee,#selectMarquee{
    border:1px dashed red;
    position:absolute;
    pointer-events:none;
}

/* fix this jodi! */

.navigationNext, .navigationPrevious {
    a {
        .fa;
        .button-round;
        height:50px;
        width:50px;
    }
    span {
        .hidden;
    }
}
.navigationNext a {
    &:before {
        content:"\f105";
    }
}
.navigationPrevious a {
    &:before {
        content:"\f104";
    }
}