.main-board {
    flex-grow:1;
}
#board {
    width:100%;
    background-color:@board-bg;
}
#backstageContainer{
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color:@block-bg;
    .plr;
    .ptb;
}
#slideContainer {
    max-width: @slide-container-width;
}
.slideButtonContainer {
    width:100%;
}
.slide-count {
    text-align:right;
    .font-weight-light;
    color:@subtle;
}
.thumbnail {
    width:100%;
}
.inactiveMode {
    display:none;
}
#ribbon .button-toggle {
    margin-left:2px;
}
.tools {
    button {
        margin:2px;
        .btn-active;
    }
    .activeMode button {
        .btn-subtool;
        &.activeBrush {
            .btn-subtool.active;
        }
    }
    .activeTool {
        display:flex;
        .btn-active.active;
    }
}
.pen .icon-txt {
    color:@subtool-fg;
}