.functional.sh
std.out
.wdio.conf.dyn.js
target
output
logs
errorShots
debug.log
.ivy2
.sbt-boot
testdb*
.DS_Store
node_modules
src/main/assets/build/source/
*.log
config/configuration.local.xml
config/configuration.xml

# emacs temp files
*~
\#*\#
.\#*
# vim
*.swp
# Idea files
.idea
*.iml
*.ipr
