body{
    background-size:100% 100%;
}
.vega-actions{
    display:none;
}
#processingRow{
    display:flex;
}
#status{
    font-size:60%;
}
.tick line{
    stroke:#ffffff;
}
.tick text{
    fill:#ffffff;
}
.teacherPath{
    fill:none;
    stroke-width:3;
    stroke:blue;
}
.domain{
    opacity:0;
}