.simpleTextAreaInteractableMessageTextarea{
    width:80%;
}
.simpleMultipleButtonInteractableMessageButton{
}
.simpleRadioButtonInteractableMessageButton{
}
.simpleDropdownInteractableMessageDropdown{
}
#slideControls{
    float:right;
}
#slideControls .toolbar{
    color:black;
    background:white;
    border:1px solid black;
    margin:1px;
}
.thumbnail{
    margin-right:0;
    padding-right:0;
    display:block;
}

#upload{
    z-index:1;
    position:absolute;
    display:none;
    background-color:white;
    color:black;
}
#imageUploadSubmit{
    display:none;
}
#upload progress{
    vertical-align:top;
}
.fail{
    background-color:red;
}
#closeTextInput{
    float:right;
    background-color:red;
    color:white;
    font-weight:bold;
    width:30px;
    height:30px;
    text-align:center;
}
#textAdorner{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#slideContainer{
    max-width:10000px;
    margin-right:10px;
}
#thumbColumnDragHandle{
    order:0;
    height:calc(100vh - 120px);
}
#thumbScrollContainer{
    order:1;
    overflow-x:hidden;
    margin-top:2px;
}