		 .whisperIcon, .inviteIcon{
			 font-size:xx-small;
		 }
		 .whisperContainer{
			 margin-top:1em;
		 }
		 .chatLines{
			 height:11em;
			 overflow-y:scroll;
		 }
		 .authorLabel{
			 font-weight:bold;
		 }
		 .username{
			 margin-left:15px;
		 }
		 .userLocation{
			 font-style:italic;
			 font-size:xx-small;
		 }
		 #presenceSummary {
			display:none;
			padding-left: 1em;
			padding-bottom:1em;
		 }
		 #splitClassGroupSize {
			width: 80%;
		 }
		 #showSummary {
			padding-left: 1em;
		 }
		 .onlineness, .username, .userLocation{
			 display:inline;
		 }
		 .infoMessage {
			font-style:italic;
		 }
		 .openChatBox{
			background-color: white;
			position:fixed;
			bottom:0;
			border:1px solid black;
			height:15em;
			padding-left:1em;
		 }
		 .chatTitleBar{
			 margin-left:-1em;
			 width:100%;	
			 background-color:#000066;
			 padding-left:1em;
			 display: inline-block;
		 }
		 .dialogLabel{
			 color:white;
			 float: left;
			 clear:right;
		 }
		.closeChat{
			color:white;
			text-align:right;
			margin-right:10px;
			font-weight:bold;
			float:right;
			cursor: pointer;
		}
		 .positioner{
			 width:100%;
			 height:100%;
			 position:relative;
			 background-color:white;
		 }
		 .chatInput{
			bottom:3px;
			width:250px;
			position:fixed;
		 }
		 #presences{
			max-width:160px;
		 }
		 #presences .username{
			max-width:5em;
			overflow:hidden;
			text-overflow:ellipsis;
		 }
		 .userImg{
			width:50px;
			height:50px;
		 }
		 .inviteIcon{
		 }
		 .online, .offline{
			width:15px;
			height:15px;
			border-radius:15px;
			border:1px solid black;
			position:absolute;
			left:5px;
		 }
		 .online{
			background-color:green;
		 }
		 .offline{
			 background-color:grey;
		 }
		 .moreOptions{
			 float:right;
		 }
		 .whisperContent{
			 display:none;
		 }
		 .userIcon{
			 display:inline-block;
			 margin:5px;
			 margin-top:0;
			 border:1px solid black;
			 border-radius:15px;
			 padding-right:5px;
		 }
		 .userSummary{
			 position:relative;
			 overflow:hidden;
			 padding:1em;
			 float:left;
			 clear:right
		 }
		 .optionsRight img{
			width:30px;
			height:30px;
		 }
		 .greenGradientBackground{
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='green', endColorstr='lightgreen', gradientType='1'); /* for IE */
				background: -webkit-gradient(linear, left top, right top, from(green), to(lightgreen)); /* for webkit browsers */
				background: -moz-linear-gradient(left,  green,  lightgreen); /* for firefox 3.6+ */ 
			}
			.blueGradientBackground{
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ACD1E9', endColorstr='#F5FAFA', gradientType='1'); /* for IE */
				background: -webkit-gradient(linear, left top, right top, from(#ACD1E9), to(#F5FAFA)); /* for webkit browsers */
				background: -moz-linear-gradient(left,  #ACD1E9,  #F5FAFA); /* for firefox 3.6+ */ 
			}	
			.blueBackground {
				background-color:#6D929B;
			}	
			.paleGreenBackground{
				background-color:rgb(190,255,175);
			}	
			.myAnswer {
				background-color: yellow;
			}
			.transparent {
				/* Required for IE 5, 6, 7 */
				/* ...or something to trigger hasLayout, like zoom: 1; */
				width: 100%; 

				/* Theoretically for IE 8 & 9 (more valid) */
				/* ...but not required as filter works too */
				/* should come BEFORE filter */
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

				/* This works in IE 8 & 9 too */
				/* ... but also 5, 6, 7 */
				filter: alpha(opacity=50);

				/* Older than Firefox 0.9 */
				-moz-opacity:0.5;

				/* Safari 1.x (pre WebKit!) */
				-khtml-opacity: 0.5;

				/* Modern!
				/* Firefox 0.9+, Safari 2?, Chrome any?
				/* Opera 9+, IE 9+ */
				opacity: 0.5;
			}
			.fullOpacity {
				/* Required for IE 5, 6, 7 */
				/* ...or something to trigger hasLayout, like zoom: 1; */
				width: 100%; 

				/* Theoretically for IE 8 & 9 (more valid) */
				/* ...but not required as filter works too */
				/* should come BEFORE filter */
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

				/* This works in IE 8 & 9 too */
				/* ... but also 5, 6, 7 */
				filter: alpha(opacity=100);

				/* Older than Firefox 0.9 */
				-moz-opacity:1;

				/* Safari 1.x (pre WebKit!) */
				-khtml-opacity: 1;

				/* Modern!
				/* Firefox 0.9+, Safari 2?, Chrome any?
				/* Opera 9+, IE 9+ */
				opacity: 1;
			}
			.canvasTile {
				border-radius: 5px;
				padding: 5px;
				border: 1px solid grey;
				background-color: lightgray;
				box-shadow: 5px 5px 5px black;
				margin: 2px;
				max-height: 50px;
				max-width: 50px;
				min-height: 10px;
				min-width: 10px;
			}
	.metlButton:link {
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lightblue', endColorstr='aliceblue', gradientType='1'); /* for IE */
		background: -webkit-gradient(linear, left top, right top, from(lightblue), to(aliceblue)); /* for webkit browsers */
		background: -moz-linear-gradient(left,  lightblue,  aliceblue); /* for firefox 3.6+ */ 
		border-radius: 15px;
		padding-top:4px;
		padding-bottom: 4px;
		padding-left: 10px;
		padding-right:10px;
		text-decoration:none;
		color:black;

	}
	
	.metlButton:hover {
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darkblue', endColorstr='lightblue', gradientType='1'); /* for IE */
		background: -webkit-gradient(linear, left top, right top, from(darkblue), to(lightblue)); /* for webkit browsers */
		background: -moz-linear-gradient(left,  darkblue,  lightblue); /* for firefox 3.6+ */ 
		color:white;
	}
			.large {
				max-height: 100px ! important;
				max-width: 100px ! important;
			}
		 .tile{
				border-radius:5px;
				padding:5px;
				border:1px solid grey;
				background-color:lightgray;
				box-shadow:5px 5px 5px black;
				margin:2px;
				max-height:50px;
				max-width:50px;
				min-height:10px;
				min-width:10px;
			}
			#groupVisualRoot{
			display:none;
			}
			#noticeContainer{
			position:absolute;
			width:50%;
			margin: 0 25% 5% 25%;
			}
			.span-17{
				width:100%;
				left:160px;
				top:50px;
				position:absolute;
			}
			.center {
				text-align: center;
			}
			.hidden {
				display:none;
			}	
			.ui-widget-header {
				background-color:#6D929B !important;
				border-color: black !important;
			}
			.userContainer {
				width: 120px;
				display: inline-block;
				height: 100px;
				position: relative;
			}
			.userInfo {
				width: 90px;
				position: absolute;
				top: 0;
				left: 0;
			}
			.groupOptions {
				display:none;
				position: absolute;
				right: 0px;
				top: 0;
			}
			.hidden {
				display: none;
			}
			#groupUsers {
			}
			#readyCheck {
				height: auto !important;
			}
			.groupSpot img {
				height:100px;
				width: 100px;
				border-radius: 50px;
			}
			.groupSpot {
				height:100px;
				border: 4px solid grey;
				margin-left: 10px;
				width: 100px;
				float:left;
				border-radius: 60px;
			}
			.controls {
				float:left;
				clear:both;
			}
			.currentUsers {
				display: block;
			}
			.noticeLabel{
			font-style:italic;
			background-color:darkgray;
			color:white;
			height:30px;
			}
			#logout{
				vertical-align:top;
			}
			.metlSpam .textbox{
			width:90%!important;
			vertical-align:top;
			height:12em;
			}
			.metlSpam .oneLineTextbox{
			width:90%!important;
			}
			.metlSpam .submitButton{
			margin-top:1em;
			margin-bottom:1em;
			margin-right:1em;
			}
			.metlSpam hr{
			margin:0px;
			-webkit-margin-before:0em;
			-webkit-margin-after:0em;
			}
			.metlSpam{
			border:1px solid black;
			position:relative;
			text-align:center;
			padding-bottom:1em;
			background-color:rgba(255,255,255,0.9);
			font-weight:bold;
			margin-top:1em;
			}
			a.noticeClose{
			position:absolute;
			top:1px;
			right:1px;
			border:1px solid black;
			background-color:red;
			width:28px;
			height:28px;
			margin-top:0;
			padding:0;
			color:white;
			}
			.info, .info:hover, .info:focus, .info:link, .info:visited, .info:active.{
			text-decoration:none !important;
			}
			.edit_error_class {
			display: block;
			color: red;
			}
			.lift_error {
			color: red;
			}
			.lift_warning {
			color: yellow;
			}
			.lift_notice {
			}
			.sidebar ul {
			bottom:0;
			}
			.sidebar ul li {
			margin:0;
			padding:0;
			list-style:none;
			border-bottom:none;
			font-weight:bold;
			}
			.sidebar ul li a {
			text-decoration:none;
			}
			.sidebar ul li span {
			text-decoration:none;
			}
			.sidebar ul li a:hover {
			background-color: #eee;
			}
			.changeUsers{
			float:left;
			}
			.currentGroups{
			float:right;
			}
			.currentGroups img{
			width:60px;
			height:60px;
			}
			.currentGroups li{
			margin-right:2em;
			}
			#groupListing{
			display:none;
			}
			#chatLabel{
			text-align:center;
			}
			.chatTime{
			float:left;
			}
			.ui-widget-content, .ui-widget-header{
			background:none;
			}
			.ui-widget-content{
			background-color:rgba(255,255,255,0.8) !important;
			}
			.ui-widget-header{
			background:white;
			border-color:white;
			}
			#currentUser{
			float:left;
			}
			.current{
			border:2px solid green;
			}
			#mainContent{
			width:100%;
			position:relative;
			}
			#chat{
			border-top-left-radius:15px;
			border-bottom-left-radius:15px;
			border:1px solid grey;
			padding:3px;
			height:480px;
			overflow-x:hidden;
			overflow-y:scroll;
			background-color:lightgrey;
			}
			#chat .goldStar{
			height:15px;
			width:15px;
			}
			#chat .mine, #chat .theirs{
			padding-left:1em;
			padding-right:1em;
			border-radius:15px;
			}
			#chat .mine{
			margin-right:3em;
			background-color:lightgreen;
			}
			#chat .theirs{
			margin-left:3em;
			background-color:yellow;
			}
			#chat .line{
			margin-bottom:5px;
			}
			#chat .chatAuthor{
			display:none;
			}
			.sidebar ul{
			margin:0;
			}
			#sitemap div{
			display:inline-block;
			padding:0 1em;
			}
			.containerHeader{
				width:100%;
				overflow:hidden;
				border:none;
				height:3em;
				background:url('/images/headerBlueBackground.jpg');
				color:white;

			}
			.containerHeader a,
			.containerHeader a:Visited{
				color:white;
			}
			#homeLogo{
				width:30px;
				height:30px;
				margin:3px;
			}
			#homeLink{
				display:none;
				font-size:22pt;
				font-style:italic;
				color:white;
			}
			.tickLabels{
				display:none;
			}
			#ph_graph{
				position:absolute;
				width:300px;
				top:0;
				right: 7%;
				height:6em;
			}
			#sitemap{
				position:absolute;
				left:20;
				top:1em;
			}
			#parties{
				position:absolute;
				left:10px;
				top:3em;
			}
			#badge, #reputation{
			text-align:right;
			}
			#badge div, #reputation div{
				display:inline;
			}
			.informal{
				color:blue;
			}
			.formal{
				color:red;
			}
			.stackScreenshot{
				width:160px;
				height:120px;
			}
			#container{
			width:1024px;
			height:350px;
			margin-left:auto;
			margin-right:auto;
			background:white;
			}
			.modeButtonContainer{
				position:relative;
				text-align:center;
				float:left;
				padding:0 .5em;
				color:black;
				height:100%;
				border-bottom:1px solid grey;
				margin-bottom:-2px;
			}
			.modeButtonContainer img{
				width:30px;
				height:30px;
			}
			#rightBox{
			margin-right:1em;
			float:right;
			}
			.fColumn{
			position:absolute;
			top:0;
			overflow-x:hidden;
			overflow-y:auto;
			}
			#ajax-loader{
				display:none;
				margin-bottom: 0px;
				margin-left:5px;
				position:static;
			}
			#groupFinder {
					
			}
			.groupUsers {
				display: block-inline;
			}
			.groupUsers img {
				border-radius: 30px;
				width: 60px;
				height: 60px;
			}
			.pendingUser {
				opacity: 0.4;
			}
