#ribbon {
    background:red;
}
#ribbon input{
    display:block;
    width:100%;
}
#minimap{
    border:1px solid black;
    background-color:white;
}
.commandModeActive{
    font-size:small;
}
.inactiveMode{
    display:none;
    width:100%;
}
.activeMode{
    display:block;
}
.statusText{
    font-family:helvetica;
    font-size:12px;
}

.activeConversation:hover, .brush{
}
.brushColor{
    margin:5px;
    height:60px;
    width:60px;
    border:1px solid black;
}
.toolbar, .modeSpecificTool{
    margin-bottom:0.5em;
}

#floatingToggleContainer{
    position:absolute;
    width:100%;
    height:0;
    top:2px;
    left:2px;
}
.activeBackstageTab, .activeBrush, .activePrivacy, .activeTool{
    box-shadow:
    0 -3px 0 #222222,
    5px 5px 5px #ffffff;
    margin-top:1.5em !important;
    background-color:white;
    margin-bottom:-0.5em;
}
#applicationMenuButton.activeBackstageTab{
    margin-top:0.5em !important;
}
#applicationMenuButton{
    height:2em;
    min-height:0;
    padding:0 1em;
    float:left;
    top:2px;
    vertical-align:top;
    padding:0 1em;
}
.closeButton, a.s2cClose{
    min-height:1em;
    min-width:1em;
    margin-bottom:1em;
    font-size:3em;
    box-shadow:
    0 3px 0 #222222,
    0 15px 20px rgba(0,0,0,.35);
    color:black;
    padding:0;
}
#insertOptions .closeButton{
    float:right;
}
#penMode .toolbar{
    display:inline-block;
    width:9em;
}
a.s2cClose{
    text-align:center;
    text-decoration:none;
    float:right;
    font-size:2em;
    padding:0.5em;
    padding-top:0;
    width:0.8em;
    height:0.8em;
    border-radius:10px;
}
#hideBackstage{
    margin-top:0.45em;
    margin-left:0.45em;
    width:3.5em;
    height:1.75em;
}

.sizeDot{
    text-align:center;
}
.activeTool.sizeDot{
    border:1px solid black;
    box-shadow:none;
}
#applicationMenuButtonSpacer{
    padding:0;
    height:3em;
}
#applicationMenuButton, #applicationMenuButtonSpacer{
    margin-top:0;
    padding-bottom:2em;
}
#applicationMenuButton div{
    display:inline-block;
    vertical-align:middle;
}
.dots{
    text-align:center;
}
.slideLoading{
    background-color:white;
}
#loadingSlidePopup{
    text-align:center;
}
.disabledButton{
    background: darkgray !important;
    opacity:0.4;
    color:black !important;
    box-shadow:none;
    margin-top:1.4em;
}
.privacyButtons{
}
.headerRow1, .headerRow2, .headerRow3{
    display:inline-block;
}
.headerRow2{
}
#minimizedTools{
    display:none;
}
#createConversationContainer div{
    float:left;
}
.extraConversationTools div{
    float:right;
    color:black;
}
