<configuration debug="false" scan="true" >
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>LOG %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>
  <!--
      <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file>debug.log</file>
      <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
      </encoder>
      </appender>
  -->
  <!--
      <logger name="metlx.proxy.debugLogger" level="all">
      <appender-ref ref="FILE"/>
      </logger>
  -->
  <!--
      <logger name="net.liftweb" level="INFO"/>
      <logger name="org.apache.vysper" level="DEBUG"/>
      <logger name="org.apache.vysper.xmpp.protocol.ProtocolWorker" level="DEBUG"/>
      <logger name="com.metl.model.VysperClientXmlSerializer" level="TRACE"/>
  -->
  <!--
  <logger name="com.metl.model.XmppBridgingHistoryCachingRoom" level="TRACE"/>
  <logger name="com.metl.utils.StopwatchActor" level="ALL"/>
  -->
  <!--  <logger name="com.metl.comet.MeTLActor" level="TRACE"/> -->
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
