<configuration debug="false" scan="true" >
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>LOG %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>
  <appender name="SECURITY_FILE" class="ch.qos.logback.core.FileAppender">
    <file>security.log</file>
    <encoder>
      <!-- this pattern should match what the consumer of these logs will need, and should start with datetime -->
      <Pattern>%d{MM-dd-YYYY HH:mm:ss.SSSz} - MeTL - %msg%n</Pattern>
    </encoder>
  </appender>
  <appender name="DEBUG_FILE" class="ch.qos.logback.core.FileAppender">
    <file>debug.log</file>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>  
  <appender name="BOOT_FILE" class="ch.qos.logback.core.FileAppender">
    <file>boot.log</file>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>
  <!--
      <logger name="metlx.proxy.debugLogger" level="all">
      <appender-ref ref="FILE"/>
      </logger>
  -->
  <!--
      <logger name="net.liftweb" level="INFO"/>
      <logger name="org.apache.vysper" level="DEBUG"/>
      <logger name="org.apache.vysper.xmpp.protocol.ProtocolWorker" level="DEBUG"/>
      <logger name="com.metl.model.VysperClientXmlSerializer" level="TRACE"/>
  -->
  <!--
      <logger name="com.metl.model.XmppBridgingHistoryCachingRoom" level="TRACE"/>
  -->
  <logger name="com.metl.comet.MeTLActor" level="DEBUG"/>
  <logger name="com.metl.comet.MeTLJsonConversationChooserActor" level="DEBUG"/>
  <logger name="com.metl.h2.SqlInterface" level="WARN"/>
  <logger name="com.metl.data.Conversation" level="WARN"/>
  <logger name="com.metl.data.ByTotalGroups" level="TRACE"/>
  <logger name="com.metl.utils.StopwatchActor" level="ALL"/>
  <logger name="com.metl.model.CanvasContentAnalysis" level="WARN"/>
  <logger name="com.metl.model.XmppBridgingHistoryCachingRoom" level="WARN"/>
  <logger name="com.metl.model.SecurityListener" level="WARN">
    <appender-ref ref="SECURITY_FILE"/>
  </logger>
  <logger name="bootstrap.liftweb.Boot" level="ALL">
    <appender-ref ref="BOOT_FILE" />
  </logger>
  <root level="DEBUG">
    <appender-ref ref="DEBUG_FILE"/>
  </root>
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
