/* light palette */

/* type */
@font-std: 'Advent Pro', sans-serif;
@font-highlight: 'Lora', serif;
@font-weight-std: 400;
@font-weight-light: 200;

@text-std: black;
@text-links: ;

/* form */
@form-borders:#eee;
@form-borders-highlight: turquoise;
@form-elements-bg: white;

@error: #ca322a;
@success-light: #167445;
@success-dark: #125E38;
@warning: ;
@notice: ;
@warning-light: #a52e29;
@warning-dark: #8E2825;

/* disabled */
@disabled-bg: ;
@disabled-fg: ;
@disabled-borders: ;

/* menu */
@menu-bg: #eee;
@menu-button-bg: #ccc;
@menu-button-fg: #555;
@icon-font-size: 24px;

@header-bg: #eee;
@title-bg: #fff;

@button-bg: #547181;
@button-fg: #1D1D1B;